<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
    <meta charset="UTF-8">
    <title>MSSV:20880073</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{!-- Header --}}
    {{> header}}
    {{!-- Body --}}
    {{{body}}}
    {{!-- Footer --}}
    {{> footer}}
</body>
</html>